page-login {
	.scroll-content{
		padding-top: 60px!important;
	}
	img{
		margin: 25px auto;
	}
	ion-item{
    background-color: transparent!important;
    .item-inner{
    	border: none!important;
    }
		ion-input.email{
	  	background-color: #F3B50E!important;
	  }
	  ion-input.code{
	  	background-color: #A23584!important;
	  }
    ion-label{
    	color: white;
    	padding-left: 8px;
    }
	}
	.login-btn{
		color: white;
		font-size: 125%;
		text-transform: uppercase;
    width: auto;
    padding: 0 70px;
    margin: auto;
	}
}
